[downbutton] {
  display: flex;
  width: 100%;
  height: 24px;
  justify-content: center;
  position: absolute;
  pointer-events: none;
  bottom: 24px;
}
[downbutton]::before,
[downbutton]::after {
  content: "";
  width: 24px;
  height: 24px;
  background: transparent;
  -webkit-mask-image: url("//cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/src/android-arrow-dropdown.svg");
  mask-image: url("//cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/src/android-arrow-dropdown.svg");
  -webkit-mask-size: 24px 24px;
  mask-size: 24px 24px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.9);
}
[downbutton]::before {
  position: absolute;
}
[downbutton]::after {
  position: relative;
  -webkit-animation-duration: 0.9s;
  animation-duration: 0.9s;
  -webkit-animation-name: down;
  animation-name: down;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes down {
  from {
    margin-top: 0;
    opacity: 1;
  }
  to {
    margin-top: 24px;
    opacity: 0;
  }
}

@keyframes down {
  from {
    margin-top: 0;
    opacity: 1;
  }
  to {
    margin-top: 24px;
    opacity: 0;
  }
}
